<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,121}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{172,121}}</string>
                <key>sourceSize</key>
                <string>{200,131}</string>
            </dict>
            <key>Fish2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{120,120}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{120,120}}</string>
                <key>sourceSize</key>
                <string>{124,136}</string>
            </dict>
            <key>Fish3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{72,77}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{72,77}}</string>
                <key>sourceSize</key>
                <string>{100,83}</string>
            </dict>
            <key>Fish4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{170,116}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{170,116}}</string>
                <key>sourceSize</key>
                <string>{180,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fish.png</string>
            <key>size</key>
            <string>{544,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a48a87bf569df0e2c796f173c6640e79:dc599d9e196ed29051fc21fd921a6ef0:f4ab007bf533dedae610c2c37be095ed$</string>
            <key>textureFileName</key>
            <string>Fish.png</string>
        </dict>
    </dict>
</plist>
