<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>16639368.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{91,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,121}}</string>
                <key>sourceSize</key>
                <string>{91,121}</string>
            </dict>
            <key>CanCau.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,244}}</string>
                <key>offset</key>
                <string>{0,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{22,244}}</string>
                <key>sourceSize</key>
                <string>{30,494}</string>
            </dict>
            <key>Day.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,125},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CanCau.png</string>
            <key>size</key>
            <string>{119,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ea25668632071fdd8199e26e22d4047:e5e6302500cd333fadade0a3cfe060b3:693d8f8bf04c086a69ac8afabc46f907$</string>
            <key>textureFileName</key>
            <string>CanCau.png</string>
        </dict>
    </dict>
</plist>
